.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  /* Height of navbar */
  height: calc(100vh - 56px);
  padding: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.snippet-selection-categories {
  color: limegreen;
  border-bottom: 2px limegreen solid;
  >div {
    padding: 5px 7px;
    margin-bottom: 5px;
    >div {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      // &:hover {
      //   background: rgba(50, 205, 50, 0.3)
      // }
      >p {
        margin-bottom: 0px;
      }
    }
  }
}

div.selected-selection {
  border: 1px limegreen solid;
}

.category {
  padding: 5px;
  > p {
    margin: 0 8px;;
  }
  &:hover {
    background: rgba(50, 205, 50, 0.3)
  }
}

.selected-category {
  color:limegreen;
  font-weight: bold;
}

.remove-gutters {
  margin: 8px -8px;
}