@import './bs4/_functions';
@import './_variables';
@import './bs4/bootstrap';
@import './_navigation';
@import './_sidebar';
@import './_searchbar';

html, body {
  height: 100vh;
}

.error-warning {
  color: red;
  font-weight: bold;
  text-align: center;
}